vendor/
node_modules/
.env
.env.*
.DS_Store
/public/storage
/storage/*.key
.idea/
.vscode/
.phpunit.result.cache
.php-cs-fixer.cache
composer.lock
/npm-debug.log
/yarn-error.log
/build/
/public/hot
/public/build

